*{
  margin: 0;
  padding: 0;
}


*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  color: black;
}

ul li {

}

.grad{
    height: 100vh;
    background: linear-gradient(#76Aff1,#FFFFFF);
}


.Title-Section{
  position: fixed;
  top: 0;
  width: 110%;
  background-color: grey;
  padding-bottom: 5px;
}

.title{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  position: fixed;
  margin-top: 0.8%;
  background: linear-gradient(#FFFFFF,#76Aff1);;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color:white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar-ul li a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
  background: Clear;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn, label #cancel{
  position: absolute;
  background: grey;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}

.pokemon-pika{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  padding-top: 75%;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}

#menu li{
  margin: 0 0 3px 0;
}

/* Miohelle Part*/
.main-content{
  position: static;
  margin-top: 30px;
  background: #FCEE6F;
  min-height: auto;
  border-radius: 5px;
  padding-bottom: 10px;
}

.top-content{
  position: static;
  min-height: auto;
  width: auto;
  margin-top: 30px;
  background:#FCEE6F;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

.bottom-content{
  position: static;
  min-height: auto;
  margin-top: 30px;
  background: #FCEE6F;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  border-radius: 5px;

}

.sub-title {
  color:#245FF8;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}


.lst {
  background:white;
  border-radius: 5px;
}


.btn-default{
  background-color: #C4C4C4;
}

.btn-sm{
  font-size: 5px;
  margin: 10px;
}

.gray-list{
    background: #C4C4C4;
    margin: 5px;
    list-style-type: none;
    border-radius: 5px;
    padding: 3px;
    /* justify-content: center; */
    text-align: center;
}

/* table.table {
  border-collapse: separate;
  border-spacing: 0;
}

.border-black
    {
     border:black solid 1px !important;
    } */

.pokemon-name{
  padding: 20px;
  font-size: 20px;
}

.box {
  margin: 5px;
  background: #C4C4C4;
  list-style-type: none;
  border-radius: 5px;
  width: 400px;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.sub-text {
  font-size: 18px;
}

.description {
  font-size: 14px;
}

.spacing {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 5px;
}
