*{
  margin: 0;
  padding: 0;
}

.grad{
    height: 100vh;
    background: linear-gradient(#FFFFFF,#76Aff1);
}


.Title-Section{
  position: fixed;
  top: 0;
  width: 110%;
  background-color: grey;
}

.title{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
