*{
  margin: 0;
  padding: 0;
}

.grad{
    height: 100vh;
    background: linear-gradient(#FFFFFF,#76Aff1);
}

.navbar-custom{
  background-color: #C4C4C4;
}

.Title-Section{
  position: relative;
  top: 0;
  width: 100%;
  background-color: grey;
}

.title{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}


.Prompt{
    position: relative;
    text-align: center;
    top:270px;
    bottom:0px;
    }


.email-label{
    font-family: 'Roboto', sans-serif;
    background: -webkit-linear-gradient(#FFFFFF, #245FF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px black;
    font-size: 22px;
    padding-left: 125px;
}

.email-box-field{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
}

.field{
    width: 300px;
    transform: translate(10%,0%);
}

.content{
  height: 10em;
  width: 500px;
  position: relative;
}

.yellow_box {
  width: 600px;
  height: 300px;
  background: linear-gradient(#FCEE6F, #FFFFFF);
  border-radius: 25px;
  /*below code centers the yellow box in the middle of the page*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.prompt-text{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-right: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -800%);
  
  font-weight: 10;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  font-weight: 10;
}

.inputs{
  position: absolute;
  top: 50%;
  margin-right: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-10%, -50%);

  font-weight: 10;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  font-weight: 10;

}

.button{
  background-image: linear-gradient(#FFFFFF,#FCEE6F);
  border: none;
  color: #245FF8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

.button:hover {
  background-color:gray;
  color: gray;
}
