*{
    margin: 0;
    padding: 0;
  }

  .grad{
      height: 100vh;
      background: linear-gradient(#76Aff1,#FFFFFF);
  }

  /* Menu */

  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    position: fixed;
    margin-top: 0.8%;
    background: linear-gradient(#FFFFFF,#76Aff1);;
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color:white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
  }
  .sidebar-ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(85, 59, 59, 0.1);
    transition: .4s;
    background: Clear;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }

  label #btn, label #cancel{
    position: absolute;
    background: grey;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    left: -195px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s ease;
  }

  .pokemon-pika{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    padding-top: 75%;
  }

  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }

  #menu li{
    margin: 0 0 3px 0;
  }

  /* Menu end */

  /* Content */
  .btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
      background-color: #C4C4C4 !important;
      color: black !important;
  }
  .container {
      padding-top: 100px;
  }
  .navbar-custom{
    background-color: #C4C4C4;
    color: red;
  }

  .title{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .main-content{
    background: #FCEE6F;
    min-height: 470px;
    border-radius: 5px;
    padding-bottom: 10px;
    position: relative;
  }

  .sub-title {
    color:#245FF8;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }


  .lst {
    background:white;
    border-radius: 5px;
  }

.list-group-item-remove{
    margin: 5px;
    background: #C4C4C4;
    list-style-type: none;
    border-radius: 5px;
    padding: 4px;
    width: 240px;
    text-align: center;
    font-size: 15px;
  }

  .grey-button{
    background-color: #C4C4C4;
    width: 115px;
  }

  .blue-button{
    background-color: #76AFF1;
    width: 115px;
  }

  .btn-sm{
    font-size: 5px;
    margin: 10px;
  }

  .pokemon-name{
    padding: 10px;
    font-size: 19px;
  }

  .box {
    padding: 8px;
    margin: 5px;
    background: #C4C4C4;
    list-style-type: none;
    border-radius: 5px;
    width: 250px;
    justify-content: center;
    text-align: center;
    height: 100px;
  }

  .sub-text {
    font-size: 18px;
    font-weight: bold;
  }

  .description {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
  }

  .spacing {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 5px;
  }

  #pokemon-img{
    margin-top:10px;
    margin-left: 55px;
  }

  .pokemon-search{
    background: #FCEE6F;
    min-height: 200px;
    width: 1500px;
    margin: 15px;
    border-radius: 5px;
    padding-bottom: 10px;
    position: relative;
  }


  .list-group-item-collection{
    margin: 5px;
    background: linear-gradient(#FFFFFF, #86A4F0);;
    list-style-type: none;
    border-radius: 5px;
    padding: 7px;
    /* justify-content: center; */
    text-align: center;
  }

  .white-box {
      border-radius: 5px;
      background-color: white;
      padding: 8px;
      margin: 10px;
  }

  .surround {
      margin: 8px;
      padding: 10px;
  }
/* Content end */
