.Tab-over{
    padding-left:2em
}
th{
    
    border: 1px solid black;
    font-weight: normal;
}
#functions{
    width:20%; 
    border:1px solid black;
    border-spacing: 0;
}
#first{
    background-color: rgb(167, 166, 166);
    font-weight: bold;
}
#Work-plan{
    width:90%; 
    border:1px solid black;
    border-spacing: 0;
}
ol{
    text-align: left;
}
