th{
    border: 1px solid black;
    font-weight: normal;
}
#Responsibilities{
    width:50%; 
    border:1px solid black;
    border-spacing: 0;
}
#first{
    background-color: rgb(167, 166, 166);
    font-weight: bold;
}
#Work-plan{
    width:90%; 
    border:1px solid black;
    border-spacing: 0;
}
ol{
    text-align: left;
}
