*{
    margin: 0;
    padding: 0;
  }
  
  .grad{
      height: 100vh;
      background: linear-gradient(#FFFFFF,#76Aff1);
  }
  
  
  .Title-Section{
    position: relative;
    top: 0;
    width: 100%;
    background-color: grey;
  }
  
  .title{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .prompt-text{
      position: relative;
      text-align: center;
      margin-top:-27%;
      font-weight: 10;
      font-family: 'Roboto', sans-serif;
      font-size:20px;
      font-weight: 10;
      transform: translate(0%,550%);
  }
  
  .button{
      background-image: linear-gradient(#FFFFFF,#FCEE6F);
      border: none;
      color: #245FF8;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      position: absolute;
      margin: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      -ms-transform: translate(-50%,150%);
      transform: translate(-50%, 150%);
      width:100px;
    }
  
  .button:hover {
      background-color:gray;
      color: gray;
  }

  .Label-Container{
    transform: translate(0%,250%);
  }
  .input-info{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background: -webkit-linear-gradient(#FFFFFF, #245FF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.75px black;
  }

  input{
    width:200px;
    transform: translate(150%,600%);
  }
  
.yellow_box {
  width: 500px;
  height: 200px;
  background: linear-gradient(#FCEE6F, #FFFFFF);
  padding: 50px;
  border-radius: 25px;
  /*below code centers the yellow box in the middle of the page*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


