*{
    margin: 0;
    padding: 0;
  }
  
  .grad{
      height: 100vh;
      background: linear-gradient(#FFFFFF,#76Aff1);
  }
  
  
  .Title-Section{
    position: relative;
    top: 0;
    width: 100%;
    background-color: grey;
  }
  
  .title{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .yellow_box {
    width: 500px;
    height: 200px;
    background: linear-gradient(#FCEE6F, #FFFFFF);
    padding: 50px;
    border-radius: 25px;
    /*below code centers the yellow box in the middle of the page*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .text{
      position: absolute;
      text-align: center;
      top: 45%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  
  .text{
      font-weight: 10;
      font-family: sans-serif;
      font-size:20px;
      font-weight: 10;
      width: 100%;
  }
  
  .button{
      background-image: linear-gradient(#FFFFFF,#FCEE6F);
      border: none;
      color: #245FF8;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      font-family: sans-serif;
      position: absolute;
      margin: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      -ms-transform: translate(-50%, 140%);
      transform: translate(-50%, 140%);
    }
  
  .button:hover {
      background-color:gray;
      color: gray;
  }

  .form{
    position: absolute;
      margin: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }